body,
html {
  font-family: 'Noto Sans TC', sans-serif;
}

.en-font {
  font-family: 'Baloo Tamma 2';
}

.icon {
  @apply relative lg:absolute flex items-center justify-center lg:left-1/2 lg:-top-10 h-full w-full lg:h-7 lg:w-20 lg:bg-gray-dark text-gray-dark 
      lg:text-yellow lg:transform lg:-translate-x-1/2 text-xs lg:text-sm tracking-normal lg:tracking-lg text-center lg:rounded
        lg:before:absolute lg:before:w-2 lg:before:h-2 lg:before:left-1/2 lg:before:-bottom-1 lg:before:bg-gray-dark 
        lg:before:transform lg:before:rotate-45 lg:before:-translate-x-1/2 lg:hidden lg:group-hover:flex;
}

.active {
  @apply border-b-2 border-yellow font-bold;
}
